<div class="home-container container">
<div class="home-container1"> 
    <div class="company-svg-section">
        <img src="../../../assets/images/login-iso.svg" alt="company-svg">
    </div>
    <div class="company-content">
        
            <p>Simplifying</p>
            <p>Incident</p>
            <p>Management</p>
            <br>
            <h4>Building the first AI Driven IMS to help people</h4>
            <h4>manage their services</h4>
            <br>
            <a href="/signup">
                <button type="button" class="styleButton">
                    <span>Get Started</span>
                </button>
            </a>
            <h6 style="margin-top: 15px;">Made with 
                <mat-icon class="action-buttons-icons" style="color: red; vertical-align: middle;"> favorite </mat-icon>
                in India & Canada
            </h6>
    </div>
</div>

<div class="home-services">

    <div class="service">
        <h2>Services</h2>
    </div>

    <div class="home-service-section">
        <div class="home-service-1 home-service-card">
            <h2>Software Incidents</h2>
            <img src="../../../assets/images/sw.png" alt="software">
        </div>

        <div class="home-service-2 home-service-card">
            <h2>Network Incidents</h2>
            <img src="../../../assets/images/nw.png" alt="network">
        </div>

        <div class="home-service-3 home-service-card">
            <h2>Hardware Incidents</h2>
            <img src="../../../assets/images/hw.png" alt="hardware">
        </div>

    </div>
</div>

